/* .hero-wrapper {
  color: white;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}


.hero-container {
  justify-content: space-around;
  align-items: flex-end; 
}

.hero-left {
  gap: 3rem;
}
.hero-title {
  position: relative;
  z-index: 1;
}
.hero-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.orange-circle {
  height: 4rem;
  width: 4rem;
  background: var(--orange-gradient);
  border-radius: 999px;
  position: absolute;
  right: 28%;
  top: -10%;
  z-index: -1;
}
.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0.5rem 1rem;
  width: 100%;
  justify-content: space-between;
}
.search-bar > input {
  border: none;
  outline: none;
}
.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1)
{
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}


.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
}

@media  (max-width: 640px){
  .hero-container{
    margin-top: 2rem;
  }
  .hero-title>h1{
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .image-container{
    width: 95%;
    height: 25rem;
  }
  .stats{
    justify-content: center;
    gap: 1.5rem;
    font-weight: wrap;
  }
  .stat>:nth-child(1){
    font-size: 1.5rem;
  }
  .stat>:nth-child(2)
  {
    font-size: 0.8rem;
  }
} */

/* -------------------------- */

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../public/birdeyeview.jpg"), no-repeat center top ;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.main .content {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.content > h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
}

.content > .search-bar {
  display: flex;
  background-color: rgba(226, 224, 224, 0.733);
  border-radius: 5px;
  /* space-between and gap */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 5rem;
  width: 64rem;
  gap: 1rem;
  margin-top: 1rem;
}

.content > .search-bar > input {
  width: 30rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #5e5e5e;
  background-color: transparent;
  color: var(--black);
  outline: none;
}

.content > .search-bar > input::placeholder {
  color: var(--black);
}

.content > .search-bar > select {
  color: var(--black);
  width: 12rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #5e5e5e;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.content > .search-bar > button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #5e5e5e;
  background: var(--blue-gradient);
  color: var(--black);
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .content > h1 {
    font-size: 2.5rem;
  }

  .content > .search-bar {
    width: calc(100vw - 2rem);
    height: 14rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content > .search-bar > input {
    width: 100%;
  }

  .content > .search-bar > select {
    width: 100%;
  }

  .content > .search-bar > button {
    width: 100%;
  }

  .content > .search-bar > button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
    background: var(--blue-gradient);
    color: var(--black);
    cursor: pointer;
    outline: none;
  }
}

@media only screen and (max-width: 576px) {
  .content > h1 {
    font-size: 2rem;
  }
  .main {
    background-position: center;
  }

  .content > .search-bar {
    width: calc(100vw - 1rem);
    height: 14rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content > .search-bar > input {
    width: 100%;
  }

  .content > .search-bar > select {
    width: 100%;
  }

  .content > .search-bar > button {
    width: 100%;
  }

  .content > .search-bar > button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
    background: var(--blue-gradient);
    color: var(--black);
    cursor: pointer;
    outline: none;
  }
}

@media only screen and (min-width: 768px) {
  .content > .search-bar {
    width: calc(100vw - 4rem);
    height: 5rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .content > .search-bar > button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
    background: var(--blue-gradient);
    color: var(--black);
    cursor: pointer;
    outline: none;
  }
}
